<h1>Willkommen zur Nebenkostenabrechnung, <%= @user.username %></h1>
<p>
  Sie haben sich zur Webapp für Nebenkostenabrechnung angemeldet.
  Ihr Benutzername ist: <%= @user.email %>.<br>
</p>
<p>
  Um sich einzuloggen benutzen Sie folgenden Link: <a href="<%= @url %>">Nebenkostenabrechnung</a>.
</p>
<p>Vielen Dank für Ihre Anmeldung und viel Spaß beim Abrechnen.</p>