<%= form_for @invoice, html: {class: 'form-horizontal'} do |f| %>
    <h3>Zählerstände</h3>

    <hr/>

    <% @flats.each do |flat| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= flat.name %></h3>
          </div>

          <div class="panel-body">
            <div class="form-group">
            </div>
          </div>
        </div>
    <% end %>
<% end %>

<!-- div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Kaltwasser</h3>
  </div>

  <div class="panel-body">
    <div class="form-group">
      <label class="col-sm-2 control-label">Hauptzähler</label>
      <div class="col-sm-2 input-group">
        <input type="text" class="form-control" placeholder="Alt">
        <span class="input-group-addon">m³</span>
      </div>
      <div class="col-sm-2 input-group">
        <input type="text" class="form-control" placeholder="Neu">
        <span class="input-group-addon">m³</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Wohnung 1</label>
      <div class="col-sm-2 input-group">
        <input type="text" class="form-control">
        <span class="input-group-addon">m³</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Wohnung 2</label>
      <div class="col-sm-2 input-group">
        <input type="text" class="form-control" placeholder="Gesamt" readonly>
        <span class="input-group-addon">m³</span>
      </div>
      <div class="col-sm-2 input-group">
        <input type="text" class="form-control" placeholder="Heizkeller">
        <span class="input-group-addon">m³</span>
      </div>
      <div class="col-sm-2 input-group">
        <input type="text" class="form-control" placeholder="Ölkeller">
        <span class="input-group-addon">m³</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Garage Wohnung 2</label>
      <div class="col-sm-2 input-group">
        <input type="text" class="form-control">
        <span class="input-group-addon">m³</span>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Warmwasser</h3>
  </div>

  <div class="panel-body">
    <div class="form-group">
      <label class="col-sm-2 control-label">Wohnung 1 DG</label>
      <div class="col-sm-2 input-group">
        <input type="text" class="form-control" placeholder="Alt">
        <span class="input-group-addon">m³</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Wohnung 1 OG</label>
      <div class="col-sm-2 input-group">
        <input type="text" class="form-control">
        <span class="input-group-addon">m³</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Wohnung 2</label>
      <div class="col-sm-2 input-group">
        <input type="text" class="form-control">
        <span class="input-group-addon">m³</span>
      </div>
      <label class="col-sm-2 control-label">Wohnung 2.2</label>
      <div class="col-sm-2 input-group">
        <input type="text" class="form-control">
        <span class="input-group-addon">m³</span>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Heizungsanlage</h3>
  </div>

  <div class="panel-body">
    <div class="form-group">
      <label class="col-sm-2 control-label">Gaszähler</label>
      <div class="col-sm-2 input-group">
        <input type="text" class="form-control" placeholder="Alt">
        <span class="input-group-addon">m³</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Allgemeinstrom</label>
      <div class="col-sm-2 input-group">
        <input type="text" class="form-control">
        <span class="input-group-addon">kW</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Wärmezähler Wasser</label>
      <div class="col-sm-2 input-group">
        <input type="text" class="form-control">
        <span class="input-group-addon">kWh</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Wärmezähler W1</label>
      <div class="col-sm-2 input-group">
        <input type="text" class="form-control">
        <span class="input-group-addon">kWh</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Wärmezähler W2</label>
      <div class="col-sm-2 input-group">
        <input type="text" class="form-control">
        <span class="input-group-addon">kWh</span>
      </div>
      <label class="col-sm-2 control-label">Wärmezähler W2.2</label>
      <div class="col-sm-2 input-group">
        <input type="text" class="form-control">
        <span class="input-group-addon">kWh</span>
      </div>
    </div>
  </div>
</div -->