<% if notice %>
    <div id="notice" class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<h3>Abrechnung <%= @invoice.year %></h3>

<hr />

<% @invoice.flats.each do |flat| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= flat.residents.first.name %></h3>
      </div>

      <div class="panel-body">
      </div>
    </div>
<% end %>

<%= link_to 'Zurück', invoices_path %>
<%#= link_to 'Bearbeiten', edit_flat_path(@flat) %> |
