// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.count-form {
  display: flex;

  label {
    line-height: 88px;
    margin-bottom: 0;
    width: 300px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .count-inputs {
    display: flex;
    flex-direction: column;
  }

  input {
    width: 200px !important;
    margin: 5px 10px;
  }
}

.addCount {
  display: flex;
}

.addCountButton {
  line-height: 88px;
}

.panel-body > label {
  height: 100%;
}

tr.active > td {
  background-color: #2465a7 !important;
  color: white;

  a {color: white;}
}

td.link {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
